# Add patterns in here to exclude files created by tools integrated with this
# repository, such as test frameworks from the project's recommended workflow,
# rendered documentation and package builds.
#
# Don't add patterns to exclude files created by preferred personal tools
# (editors, IDEs, your operating system itself even). These should instead be
# maintained outside the repository, for example in a ~/.gitignore file added
# with:
#
# git config --global core.excludesfile '~/.gitignore'

# Bytecompiled Python
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
cover
.coverage
.tox
.testrepository
nosetests.xml

# Translations
*.mo

*.bundle
Gemfile.lock

doc/_build

# Built by pbr (python setup.py sdist):
AUTHORS
ChangeLog

# Leftovers from other commants like tox -e pep8,tht
.cache
common/deploy-steps-tasks-step-0.yaml
common/post.yaml
common/services/blockstorage-role.yaml
common/services/cephstorage-role.yaml
common/services/compute-role.yaml
common/services/controller-role.yaml
common/services/objectstorage-role.yaml
deployment/apache/apache-baremetal-puppet.yaml
deployment/container-image-prepare/container-image-prepare-baremetal-ansible.yaml
deployment/haproxy/haproxy-internal-tls-certmonger.yaml
deployment/octavia/octavia-deployment-config.yaml
environments/deployed-server-environment.yaml
environments/net-2-linux-bonds-with-vlans.yaml
environments/net-bond-with-vlans-no-external.yaml
environments/net-bond-with-vlans.yaml
environments/net-dpdkbond-with-vlans.yaml
environments/net-multiple-nics-vlans.yaml
environments/net-multiple-nics.yaml
environments/net-noop.yaml
environments/net-single-nic-linux-bridge-with-vlans.yaml
environments/net-single-nic-with-vlans-no-external.yaml
environments/net-single-nic-with-vlans.yaml
environments/network-environment-v6-all.yaml
environments/network-environment-v6.yaml
environments/network-environment.yaml
environments/network-isolation-no-tunneling.yaml
environments/network-isolation-v6-all.yaml
environments/network-isolation-v6.yaml
environments/network-isolation.yaml
environments/networks-disable.yaml
environments/overcloud-baremetal.yaml
environments/split-stack-consistent-hostname-format.yaml
environments/ssl/enable-internal-tls.yaml
extraconfig/all_nodes/swap-partition.yaml
extraconfig/all_nodes/swap.yaml
extraconfig/nova_metadata/krb-service-principals/blockstorage-role.yaml
extraconfig/nova_metadata/krb-service-principals/cephstorage-role.yaml
extraconfig/nova_metadata/krb-service-principals/compute-role.yaml
extraconfig/nova_metadata/krb-service-principals/controller-role.yaml
extraconfig/nova_metadata/krb-service-principals/objectstorage-role.yaml
extraconfig/tasks/major_upgrade_pacemaker_init.yaml
network/external.yaml
network/external_v6.yaml
network/internal_api.yaml
network/internal_api_v6.yaml
network/management.yaml
network/management_v6.yaml
network/networks.yaml
network/ports/deployed_external.yaml
network/ports/deployed_internal_api.yaml
network/ports/deployed_management.yaml
network/ports/deployed_storage.yaml
network/ports/deployed_storage_mgmt.yaml
network/ports/deployed_tenant.yaml
network/ports/deployed_vip_external.yaml
network/ports/deployed_vip_internal_api.yaml
network/ports/deployed_vip_management.yaml
network/ports/deployed_vip_storage.yaml
network/ports/deployed_vip_storage_mgmt.yaml
network/ports/deployed_vip_tenant.yaml
network/ports/external.yaml
network/ports/external_from_pool.yaml
network/ports/external_from_pool_v6.yaml
network/ports/external_resource_external.yaml
network/ports/external_resource_external_v6.yaml
network/ports/external_resource_internal_api.yaml
network/ports/external_resource_internal_api_v6.yaml
network/ports/external_resource_management.yaml
network/ports/external_resource_management_v6.yaml
network/ports/external_resource_storage.yaml
network/ports/external_resource_storage_mgmt.yaml
network/ports/external_resource_storage_mgmt_v6.yaml
network/ports/external_resource_storage_v6.yaml
network/ports/external_resource_tenant.yaml
network/ports/external_resource_tenant_v6.yaml
network/ports/external_v6.yaml
network/ports/internal_api.yaml
network/ports/internal_api_from_pool.yaml
network/ports/internal_api_from_pool_v6.yaml
network/ports/internal_api_v6.yaml
network/ports/management.yaml
network/ports/management_from_pool.yaml
network/ports/management_from_pool_v6.yaml
network/ports/management_v6.yaml
network/ports/net_ip_list_map.yaml
network/ports/net_ip_map.yaml
network/ports/net_vip_map_external.yaml
network/ports/net_vip_map_external_v6.yaml
network/ports/storage.yaml
network/ports/storage_from_pool.yaml
network/ports/storage_from_pool_v6.yaml
network/ports/storage_mgmt.yaml
network/ports/storage_mgmt_from_pool.yaml
network/ports/storage_mgmt_from_pool_v6.yaml
network/ports/storage_mgmt_v6.yaml
network/ports/storage_v6.yaml
network/ports/tenant.yaml
network/ports/tenant_from_pool.yaml
network/ports/tenant_from_pool_v6.yaml
network/ports/tenant_v6.yaml
network/service_net_map.yaml
network/storage.yaml
network/storage_mgmt.yaml
network/storage_mgmt_v6.yaml
network/storage_v6.yaml
network/tenant.yaml
network/tenant_v6.yaml
overcloud-resource-registry-puppet.yaml
overcloud.yaml
puppet/blockstorage-config.yaml
puppet/blockstorage-role.yaml
puppet/cephstorage-config.yaml
puppet/cephstorage-role.yaml
puppet/compute-config.yaml
puppet/compute-role.yaml
puppet/controller-config.yaml
puppet/controller-role.yaml
puppet/objectstorage-config.yaml
puppet/objectstorage-role.yaml
puppet/post.yaml
tripleo_heat_templates/tests/ansible-pacemaker
tripleo_heat_templates/tests/tripleo-ansible

# Files created by releasenotes build
releasenotes/build
.cache
tripleo_heat_templates/tests/ansible-pacemaker
tripleo_heat_templates/tests/tripleo-ansible
