[Unit]
Description=Neutron cleanup on startup
After=openvswitch.service network.target
Before=tripleo_neutron_ovs_agent.service tripleo_neutron_dhcp.service tripleo_neutron_l3_agent.service tripleo_nova_compute.service
RefuseManualStop=yes

[Service]
Type=oneshot
ExecStart=/usr/libexec/neutron-cleanup

[Install]
WantedBy=multi-user.target
