[Unit]
Description=Neutron cleanup on startup
After=openvswitch.service network.target
Before=docker.service
RefuseManualStop=yes

[Service]
Type=oneshot
ExecStart=/usr/libexec/neutron-cleanup

[Install]
WantedBy=multi-user.target
